.markdown-embed-title { display:none; }
/*
.markdown-preview-view .markdown-embed { border:none; padding:0; margin:0; }
.markdown-preview-view .markdown-embed-content { max-height: unset;}
.markdown-preview-view .markdown-embed-content>:first-child { margin-top: 0; }
.markdown-preview-view .markdown-embed-content>:last-child { margin-bottom: 0; }
*/

.markdown-embed-link, .file-embed-link {
    /*display: none;*/
    
    /*
    opacity: 0.0;
    position: absolute;
    top: 0em;
    right: -1em;
    color: #ffffff;
    cursor: pointer;
    */
}


/*
 * check out for more
 * https://github.com/1stprinciples/Obsidian-hacks/blob/main/Block_reference_embed.css
 */
