/* @settings

name: Personal
id: personal
settings:
    - 
        id: show-view-header
        title: Show view-header
        description: Toggles view-header in the body
        type: class-toggle
        add-command: true
*/
