@media screen {
  div[style^=page-break] {
    position: relative;
    text-align: center;
    margin-top: 0.5rem;
  }
  div[style^=page-break]:before {
    display: block;
    position: absolute;
    width: 100%;
    content: '';
    border: 1px dashed var(--text-faint);
    height: 0px;
    top: 0.8em;
    z-index: -1;

  }
  div[style^=page-break]:after {
    font-size: 0.5rem;
    content: 'PAGE BREAK';
    display: inline-block;
    background-color: var(--background-primary);
    padding: 0px 10px;
    color: var(--text-faint);
    position: fixed
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Center horizontally */
    bottom: 0; /* Stick to the bottom */
    margin-bottom: 10px; /* Add some space from the bottom */;
    
    top: 0.1em;
  }
}
