@media screen {
  div[style^=page-break] {
    position: relative;
    text-align: center;
    margin-top: 0.5rem;
  }
  div[style^=page-break]:before {
    display: block;
    position: absolute;
    width: 100%;
    content: '';
    border: 1px dashed var(--text-faint);
    top: 50%;
    transform: translateY(-50%);
    z-index: -1;
  }
  /* div[style^=page-break]:after { */
  /*   font-size: 0.8rem; */
  /*   content: 'PAGE BREAK'; */
  /*   display: inline-block; */
  /*   background-color: var(--background-primary); */
  /*   padding: 0px 10px; */
  /*   color: var(--text-faint); */
  /*   position: absolute; */
  /*   left: 50%; */
  /*   transform: translateX(-50%); */
  /*   bottom: -0.5rem; */
  /* } */
  div[style^=page-break]:after {
      font-size: 0.8rem;
      content: 'PAGE BREAK';
      display: inline-block;
      background-color: var(--background-primary);
      padding: 0.7em 0.2rem; /* Adjust padding as needed */
      color: var(--text-faint);
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: -1.1rem; /* Adjust this value for vertical alignment */
      z-index: 1; /* Ensure text appears above the line */
  }
}
